
# System path
export PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin:/usr/X11/bin

# Editor
export EDITOR=vim

# Perl & Perlbrew
export PATH=$PATH:$HOME/perl5/perlbrew/bin
source ~/perl5/perlbrew/etc/bashrc

# Python & Pythonbrew
export PATH=$PATH:$HOME/.pythonbrew/bin
[[ -s $HOME/.pythonbrew/etc/bashrc ]] && source $HOME/.pythonbrew/etc/bashrc

# Ruby & RVM
export PATH=$PATH:$HOME/.rvm/bin
# Load rvm as a function
if 
	[[ -s "$HOME/.rvm/scripts/rvm" ]] ; then source "$HOME/.rvm/scripts/rvm"; 
fi

# SSH hosts' completing
complete -o default -o nospace -W "$(/usr/bin/env ruby -ne 'puts $_.split(/[,\s]+/)[1..-1].reject{|host| host.match(/\*|\?/)} if $_.match(/^\s*Host\s+/);' < $HOME/.ssh/config)" scp sftp ssh

# Java (JDK, JRE)
export JAVA_HOME=

# Node.js
export NODE_PATH=

# Go & GVM
source $HOME/.gvm/scripts/gvm
[[ -s "$HOME/.gvm/scripts/gvm" ]] && source "$HOME/.gvm/scripts/gvm"

# Amazon AWS EC2
export EC2_HOME=
export EC2_PRIVATE_KEY="$(/bin/ls "$HOME"/.ec2/pk-*.pem | /usr/bin/head -1)"
export EC2_CERT="$(/bin/ls "$HOME"/.ec2/cert-*.pem | /usr/bin/head -1)"
